@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cat-gif {
  position: fixed;
  width: 80px;
  height: 80px; 
}

.cat-gif.top-left {
  top: 20px;
  left: 20px;
}

.cat-gif.top-right {
  top: 20px;
  right: 20px;
}

.cat-gif.bottom-left {
  bottom: 20px;
  left: 20px;
}

.cat-gif.bottom-right {
  bottom: 20px;
  right: 20px;
}

.cat-gif.top-center {
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.cat-gif.bottom-center {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.feedback-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
}

.feedback-container.hidden {
  opacity: 0;
}

@keyframes move-rectangular {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: calc(100% - 35px);
  }
  50% {
    top: calc(100% - 15px);
    left: calc(100% - 35px);
  }
  75% {
    top: calc(100% - 15px);
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}

.nyan-cat {
  position: fixed;
  width: 35px;
  height: 15px;
  background-image: url('/images/nyan-cat.gif');
  background-size: contain;
  animation: move-rectangular 10s linear infinite;
}


body {
  background-color: #E6E6FA; 
}
